@model IEnumerable<N.Models.State>

@{
    ViewData["Title"] = "輸入";
}
<br />
<td>
    <a asp-area="" asp-controller="Memos" asp-action="Index">Memo列表</a> |
    <a asp-area="" asp-controller="States" asp-action="Index">人員狀態</a>
</td>

<h2>輸入</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse.Hecname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nurse.DepName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupportDep)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Time)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nurse.Hecname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nurse.DepName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SupportDep)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            
            <td>
                <a asp-action="Details" asp-route-id="@item.StateID">詳細資料</a> |
                <a asp-action="Delete" asp-route-id="@item.StateID">刪除</a>
            </td>
        </tr>
}
    </tbody>
</table>
