@model IEnumerable<N.Models.Work>

@{
    ViewData["Title"] = "出勤";
}

<h2>出勤名單</h2>

<h4>
    日期:2018/10/02
</h4>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            以部門搜尋: <input type="text" name="SearchString" value="@ViewData["currentFilter"]" />
            <input type="submit" value="搜尋" class="btn btn-default" /> |
            <a asp-action="Index">回到完整名單</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Empid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hecname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DepName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClassId)
            </th>
            <th>
               @Html.DisplayNameFor(model => model.Cstime)              
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Empid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hecname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DepName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClassId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cstime)
            </td>          
        </tr>
        }
    </tbody>
</table>
